{% extends "@RibsAdmin/base.html.twig" %}

{% block nav_page %}
    {% include "@AgriGestion/admin/top_nav.html.twig" %}
{% endblock %}

{% block body %}
    <div class="ribs-container-fluid">
        {% if ribsadmin_acces_right.testRight("agrigestion@admin@providers@create") == true %}
            <div class="top-links">
                <a href="{{ path('agrigestion_admin_provider_create') }}" class="ribs-button">Créer un fournisseur</a>
            </div>
        {% endif %}

        <div class="page-title">
            <span>Vue d'ensemble</span>
            <h3>Liste des fournisseurs</h3>
        </div>
        <div class="row">
            <div class="cxs-12">
                <form class="block ribs-form" action="{{ path("agrigestion_admin_provider_index") }}" method="POST">
                    <header>
                        <h5>recherche</h5>
                    </header>

                    <div class="cxs-12 cmd-3 form-group">
                        <div>
                            <label for="search_name">Nom</label>
                            <input type="text" name="search[name]" id="search_name" value="{{ searches.name is defined ? searches.name : null }}" class="form-control">
                        </div>
                    </div>
                    <div class="cxs-12 cmd-3">

                    </div>
                    <div class="cxs-12 cmd-3">

                    </div>
                    <div class="cxs-12 cmd-3">

                    </div>

                    <footer>
                        <button class="ribs-button">Rechercher</button>
                    </footer>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="cxs-12">
                <div class="block">
                    <header>
                        <h5>Fournisseurs actifs</h5>
                    </header>

                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Nombre factures</th>
                                <th>Créé le</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for provider in providers %}
                                <tr>
                                    <td>{{ provider.name }}</td>
                                    <td>{{ provider.invoices|length }}</td>
                                    <td>{{ provider.createdAt is empty ? "" : provider.createdAt|date("d/m/Y H:i:s") }}</td>
                                    <td>{{ provider.updatedAt is empty ? "" : provider.updatedAt|date("d/m/Y H:i:s") }}</td>
                                    {% if ribsadmin_acces_right.testRight("agrigestion@admin@providers@edit") == true %}
                                        <td>
                                            <a href="{{ path('agrigestion_admin_provider_edit', {"id": provider.id}) }}">
                                                Modifier
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">Aucun fournisseur trouvé</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
